body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #1e1e1e;
    margin: 0;
}

.headd {
    font-style: italic;
    background-color: #4294ff;
    border-radius: 10px;
    padding: 5px;
    margin-top: 50px;
    color: white;
}

.next {
    color: white;
    text-align: center;
    font-size: 22px;
}

#player-switcher {
    position: relative;
    font-size: 30px;
    width: 200px;
    font-weight: 600;
    background-color: transparent;
    border-radius: 10px;
    padding: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px white solid;
}

.player {
    width: 85px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    background-color: transparent;
    /* Start transparent */
}

.player.active {
    background-color: #ff7f7f;
    /* Color for active player */
}

.player:not(.active) {
    background-color: transparent;
    /* Inactive player remains transparent */
}

#board {
    display: grid;
    grid-template-columns: repeat(7, 60px);
    grid-gap: 12px;
    margin-top: 20px;
    background-color: #4294ff;
    border: 20px solid #4294ff;
    border-radius: 20px 20px 0px 0px;
}

.cell {
    width: 60px;
    height: 58px;
    background-color: #1e1e1e;
    border-radius: 50%;
    border: 3px solid #3774c3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell.red {
    background-color: rgba(238, 12, 12, 0.879);
}

.cell.yellow {
    background-color: rgba(249, 249, 10, 0.874);
}

.bottom {
    width: 650px;
    height: 30px;
    margin-top: 0;
    margin-bottom: 50px;
    border-radius: 10px 10px 20px 20px;
    background-color: #4294ff;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}

button {
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #4294ff;
    color: white;
    font-size: large;
}

@media (max-width: 768px) {
    #board {
        grid-template-columns: repeat(7, 45px);
        grid-gap: 8px;
        border: 15px solid #4294ff;
    }

    .cell {
        width: 45px;
        height: 43px;
    }

    .bottom {
        width: 500px;
        height: 25px;
    }

    h1 {
        font-size: 24px;
    }

    #player-switcher {
        font-size: 24px;
    }

    button {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    #board {
        grid-template-columns: repeat(7, 35px);
        grid-gap: 6px;
        border: 10px solid #4294ff;
    }

    .cell {
        width: 35px;
        height: 33px;
    }

    .bottom {
        width: 350px;
        height: 20px;
    }

    h1 {
        font-size: 20px;
    }

    #player-switcher {
        font-size: 20px;
    }

    button {
        font-size: 12px;
    }
}